<h1><%= link_to 'Japan Hotel Directory', root_path %></h1>

<div class="menubar">
	<%= menu_link_to 'Top', root_path %>&nbsp;|&nbsp;
	<%= menu_link_to 'General', "#" %>&nbsp;|&nbsp;
	<%= menu_link_to 'Hotel', root_path %>&nbsp;|&nbsp;
	<%= menu_link_to 'Member', :members %>&nbsp;|&nbsp;
	<%= menu_link_to 'Life', root_path %>&nbsp;|&nbsp;
</div>
