<%= image_tag("rails.png", size: "50x64", alt: "logo") %>

<div class="menubar">
	<%= menu_link_to 'Top', root_path %>&nbsp;|&nbsp;
	<%= menu_link_to '会員名簿', :members %>&nbsp;|&nbsp;
	<%= menu_link_to 'Hotel', root_path %>&nbsp;|&nbsp;
	<%= menu_link_to 'Travel', root_path %>&nbsp;|&nbsp;
	<%= menu_link_to 'Livelihood', root_path %>&nbsp;|&nbsp;
	<%= menu_link_to 'Gourmet', root_path %>&nbsp;|&nbsp;
</div>
