<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="container">
	<div id="header">
		<%= render "shared/header" %>
	</div>
	<div id="bg"><div id ="inner">
	<div id="wrapper">
		<div id="leftbar">
			<%= render "shared/leftbar" %>
		</div>		
		<div id="content">
			<% if flash.notice %>
				<p class="notice"><%= flash.notice %></p>
			<% end %>
			<%= yield %>
		</div>
	</div>
	<div id="rightbar">
		<%= render "shared/rightbar" %>
	</div>
	<div id="footer">
		<hr>
		<%= render "shared/footer" %>
	</div>
</div>
</div>
</div>
</body>
</html>
