<!DOCTYPE html>

<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
 <% range = Hotel.where(lat: @hotels.lat-0.01..@hotels.lat+0.01, lng: @hotels.lng-0.01..@hotels.lng+0.01).where("id != ?", @hotels.id) %>

<script type="text/javascript" language="javascript">
function initialize() {
  var myLatlng = new google.maps.LatLng(<%= @hotels.lat %>,<%= @hotels.lng %>);
  var mapOptions = {
    zoom: 14,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      icon: 'http://australia.vc/marker.png'
  });
  
  //周辺のホテルを検索、範囲を指定
//ID,緯度,軽度を配列で抜き出す
    var nearIDs = <%= range.map {|m| m.id} %>;
    var nearLats = <%= range.map {|m| m.lat} %>;
    var nearLngs = <%= range.map {|m| m.lng} %>;
	var len = nearIDs.length;
	var nearHotelMarkers = [];
	var infowindow = [];
	for (i=0; i<len; i++){
	  nearHotelMarkers[i] = new google.maps.Marker({
      position: new google.maps.LatLng(nearLats[i],nearLngs[i]),
      map: map,
  	 });
  	  
	}
	  	 infowindow = new google.maps.InfoWindow({
            content: 'foobar',
        });
        google.maps.event.addListener( nearHotelMarkers[1], 'click', function() {
            infowindow.open( map, nearHotelMarkers[1] );
        });


}

//function createMarker(opts) {
//	var marker = new google.maps.Marker(opts);
//	return marker;
//}
google.maps.event.addDomListener(window, 'load', initialize);  
</script>  

</head>
<body>
<div id="container">
	<div id="header">
		<%= render "shared/header" %>
	</div>

	<div id="wrapper">
		<div id="hotelContent">
			<% if flash.notice %>
				<p class="notice"><%= flash.notice %></p>
			<% end %>
			<%= yield %>
		</div>
	</div>
	<div id="rightbar">
		<%= render "shared/rightbar_show" %>
	</div>
	<div id="footer">
		<hr>
		<%= render "shared/footer" %>
	</div>
</div>

</body>
</html>
